.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.iml
.idea/
flutter_web_*.log
flutter_web_*.err
static_server_*.log
static_server_*.err
*.log
*.err
assets/audio/duplicates_before_cleanup/
